* {
	margin: 0;
}
.layout-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin-left: 6.1%;
}

.layout {
  width: 45%;
  margin-bottom: 0.2%;
}

div b p {
	font-size: 20px;
}

header {
	border: 1px solid #000;
	border-bottom: none;
}

.main-card {
	margin-top: 1%;
  	width: 100%;
}

.d-flex {
	margin: 0;
  	display: flex;
  	align-items: center;
}

.left {
	margin-left: 0.5%;
	margin-top: 0.2%;
  	flex: 0 0 auto;
}

.right {
  flex: 1;
  text-decoration: none;
  font-size: 20px;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td, th {
	font-size: 20px;
	border: 1px solid #000;
	border-left: none;
	padding: 3px;
	text-align: center;
}

footer p {
  font-weight: bold;
  font-size: 20px;
}

footer {
	margin-bottom: 1%;
}

.numero {
	text-align: left;
  	width: 6%;
  	font-size: 20px;
}

.nome {
	text-align: left;
  	width: 68%;
  	font-size: 20px;
}

.fone {
	text-align: left;
  	width: 26%;
  	font-size: 20px;
}

div li {
	font-size: 20px;
}

.prize-list {
	margin: 0;
	padding: 0;
	border: 0;
}